<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>초록 나무 숲</title>
    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <script src="/js/newpost.js"></script>
</head>
<body>
<div class="background-header"></div>
<div class="background-body"></div>
<div class="wrap">
    <div class="header">
        <h2>🌲 초록 나무 숲 게시판 🌲</h2>
        <p>
            글을 작성해주세요
        </p>
    </div>
    <div class="area-write">
        <input type="title" class="form-title" id="postTitle" placeholder="제 목"/>
        <textarea class="field" placeholder="내용을 입력해주세요" id="contents" cols="30"
                  rows="10"></textarea>
        <img src="/images/send.png" alt="" onclick="SendPost()">
    </div>
</div>
</body>
</html>