<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script>
        function SendForm() {
            let nick = $('#nickname').val();
            let pwd1 = $('#password').val();
            let pwd2 = $('#chk-password').val();
            let email = $('#email').val();

            if (CheckForm(nick, pwd1, pwd2)) {
                let userdata = {'username': nick, 'password': pwd1, 'email': email}

                $.ajax({
                    type: "POST",
                    url: "/user/signup",
                    contentType: "application/json",
                    data: JSON.stringify(userdata),
                    success: function (response) {
                        if (response === "중복된 ID 입니다.") {
                            $('#id-fail').text(response);
                            $('#id-fail').removeClass('hidden');
                        } else if(response === "중복된 Email 입니다.") {
                            $('#email-fail').text(response);
                            $('#email-fail').removeClass('hidden');
                        } else {
                            window.location.href = '/user/login';
                        }
                    }
                });
            }
        }

        function CheckForm(nick, pwd1, pwd2) {
            if (CheckNickname(nick) && CheckPassword(nick, pwd1) && CheckSamePwd(pwd1, pwd2)) {
                return true;
            }
            return false;
        }

        function CheckNickname(nick) {
            let regexID = /^[a-zA-z0-9]{3,}$/;
            if (!regexID.test(nick)) {
                $('#id-fail').removeClass('hidden');
                return false;
            }
            $('#id-fail').addClass('hidden');
            return true;
        }

        function CheckPassword(nick, pwd) {
            if (pwd.includes(nick)) { //아이디가 비밀번호에 포함되었을 경우 false
                $('#pw1-fail').removeClass('hidden');
                return false;
            }

            let regexPW = /^[a-zA-z0-9]{4,12}$/;
            if (!regexPW.test(pwd)) {
                $('#pw1-fail').removeClass('hidden');
                return false;
            }

            $('#pw1-fail').addClass('hidden');
            return true;
        }

        function CheckSamePwd(pwd1, pwd2) {
            if (pwd1 !== pwd2) {
                $('#pw2-fail').removeClass('hidden');
                return false;
            }
            $('#pw2-fail').addClass('hidden');
            return true;
        }
    </script>
</head>
<body>
<div id="login-form">
    <div id="login-title">Sign up</div>

    <div id="signup-form">
        <div class="login-id-label">Username</div>
        <input type="text" name="username" placeholder="Username" class="login-input-box" id="nickname">
        <div id="id-fail" class="hidden warining">최소 3자 이상, 알파벳 대소문자, 숫자로 이루어져야 합니다</div>

        <div class="login-id-label">Password</div>
        <input type="password" name="password" placeholder="Password" class="login-input-box" id="password">
        <div id="pw1-fail" class="hidden warining">최소 4자 이상, 닉네임과 같은 값이 포함되지 않아야 합니다</div>

        <div class="login-id-label">Password Check</div>
        <input type="password" placeholder="Password Check" class="login-input-box" id="chk-password">
        <div id="pw2-fail" class="hidden warining">비밀번호가 일치하지 않습니다</div>

        <div class="login-id-label">E-mail</div>
        <input type="email" name="email" placeholder="E-mail" class="login-input-box" id="email">
        <div id="email-fail" class="hidden warining"></div>
        <button type="button" id="login-id-submit" onclick="SendForm()">회원 가입</button>
    </div>
</div>
</body>
</html>